* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(0, 32, 41);
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.log-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 13px;
    align-items: center;
}

.nav-section {
    display: flex;
    flex-direction: row ;
    gap: 40px;
    align-items: center;
}

.nav-section li {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.middle {
    display: flex;
    flex-direction: row;
}


.middle .left {
    position: relative;
}

.middle .left .info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: 10px;
    max-width: 400px;
}

.middle .right {
    position: relative;
    display: inline-block;
}

.middle .right .info {
        position: absolute;
        top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.middle .right button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border: none;
}

.bottom {
    display: flex;
    flex-direction: row;
}

.hero-section .head-section p {
      font-weight:700px ;

}

.featured{
    background: url(/Downloads/newsletter-banner.png) no-repeat center/cover;
    padding: 60px;
}
#fea-new{
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}
.subsection{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.subsection h1{
    font-size: 3.9rem;
    font-weight: 300;
    color: white;
}
.subsection p{
    font-size: 1.4rem;
    color: white;
    font-weight: 100;
}
.subsection input{
    height: 50px;
    width: 60%;
    padding: 10px;
}
.subsection button{
    height: 50px;
    width: 17%;
    font-size: 1rem;
    background-color: white;
    border: 1px solid white;
}


.podcast{
    background-image: linear-gradient(to right, rgb(4, 4, 100),rgb(55, 55, 255));
    padding: 6rem;
}
.subpod{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.subpod h4{
    font-size: 4rem;
    color: white;
    font-weight: 100;
}
.subpod p{
    font-size: 1.7rem;
    color: white;
    width: 80%;
}
.subpod .spasage{
    display: flex;
    width: 100%;
    gap: 2rem;
}
.learn{
    display: flex;
    padding: 10px;
    height: 50px;
    width: 20%;
    gap: 10px;
    color: white;
    border: 1px solid rgb(255, 255, 255);


}
.learn img{
    width: 20%;
}
.pod-items{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.pod-socials{
    display: flex;
    gap: 20px;
}
.pod-socials img{
    width: 100%;
}



