* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(20, 0, 45);
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.log-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 13px;
    align-items: center;
}

.nav-section {
    display: flex;
    flex-direction: row ;
    gap: 40px;
    align-items: center;
}

.nav-section li {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

